!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title
      the lifestream of steven wilkin
    %meta{:name => 'description', :content => ''}
    - ['reset', 'lifestream'].each do |c|
      %link{:type => 'text/css', :rel => 'stylesheet', :href => "/css/#{c}.css"}

  %body

    #wrapper

      #header
        %h1
          %a{:href => '/'} the lifestream of steven wilkin
        %ul
          %li
            %a{:href => 'http://sickbiscuit.com/blog', :id => 'blog', :title => 'Blog posts'} Blog
          %li
            %a{:href => 'http://lastfm.com/user/ahSyd', :id => 'lastfm', :title => 'Loved tracks on Last.fm'} LastFM
          %li
            %a{:href => 'http://delicious.com/stevebiscuit', :id => 'delicious', :title => 'Bookmarked links on Delicious'} Delicious
  
      #content
        = yield
  
      #footer
        &copy; 2010
        %a{:href => 'http://stevenwilkin.com'} Steven Wilkin
        &sdot;
        %a{:href => 'http://github.com/stevenwilkin/life.stevenwilkin.com'} Source
        &sdot;
        %a{:href => 'http://twitter.com/stevebiscuit'} Twitter

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2764682-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
